{% extends "base.html" %}
{% load static %}
{% block title %}Modules{% endblock %}
{% block content %}
  <div class="container-fluid p-4">
    <h1 class="fw-bold">Training Modules</h1>
    <p class="text-muted">Master life-saving skills through our comprehensive modules</p>
    <div class="row g-4">

      <!-- 1. Burns and Wounds -->
      <div class="col-md-4">
        <div class="card">
          <img
            src="{% static 'images/burns_and_wounds.jpg' %}"
            class="card-img-top"
            alt="Burns and Wounds"
            width="300"
            height="200"
          />
          <div class="card-body">
            <h5 class="card-title">Burns and Wounds</h5>
            <p class="card-text">
              Learn how to treat burns and wounds effectively.
            </p>
            <a href="{% url 'burns_and_wounds' %}" class="btn btn-danger">Start Module</a>
          </div>
        </div>
      </div>

      <!-- 2. Fractures and Sprains -->
      <div class="col-md-4">
        <div class="card">
          <img
            src="{% static 'images/fractures_and_sprains.png' %}"
            class="card-img-top"
            alt="Fractures and Sprains"
            width="300"
            height="200"
          />
          <div class="card-body">
            <h5 class="card-title">Fractures and Sprains</h5>
            <p class="card-text">
              Identify and stabilize fractures and sprains.
            </p>
            <a href="{% url 'fractures_and_sprains' %}" class="btn btn-danger">Start Module</a>
          </div>
        </div>
      </div>

      <!-- 3. Cardiac Emergencies -->
      <div class="col-md-4 mb-3">
        <div class="card">
          <img
            src="{% static 'images/cpr.png' %}"
            class="card-img-top"
            alt="Cardiac Emergencies"
            width="300"
            height="200"
          />
          <div class="card-body">
            <h5 class="card-title">Cardiac Emergencies</h5>
            <p class="card-text">
              Handle CPR and heart-related emergencies.
            </p>
            <a href="{% url 'cardiac_emergencies' %}" class="btn btn-danger">Start Module</a>
          </div>
        </div>
      </div>

      <!-- 4. Choking -->
      <div class="col-md-4 mb-3">
        <div class="card">
          <img
            src="{% static 'images/choking.png' %}"
            class="card-img-top"
            alt="Choking"
            width="300"
            height="200"
          />
          <div class="card-body">
            <h5 class="card-title">Choking</h5>
            <p class="card-text">
              Learn how to assist someone who is choking.
            </p>
            <a href="{% url 'choking' %}" class="btn btn-danger">Start Module</a>
          </div>
        </div>
      </div>

      <!-- 5. Exposure -->
      <div class="col-md-4 mb-3">
        <div class="card">
          <img
            src="{% static 'images/exposure.jpg' %}"
            class="card-img-top"
            alt="Exposure"
            width="300"
            height="200"
          />
          <div class="card-body">
            <h5 class="card-title">Exposure</h5>
            <p class="card-text">
              Recognize and treat heat/cold-related emergencies.
            </p>
            <a href="{% url 'exposure' %}" class="btn btn-danger">Start Module</a>
          </div>
        </div>
      </div>

      <!-- 6. Poison/Venom/Allergies -->
      <div class="col-md-4 mb-3">
        <div class="card">
          <img
            src="{% static 'images/poison_venom_allergy_1.png' %}"
            class="card-img-top"
            alt="Poison/Venom/Allergies"
            width="300"
            height="200"
          />
          <div class="card-body">
            <h5 class="card-title">Poison/Venom/Allergies</h5>
            <p class="card-text">
              Handle poisonings, venomous bites, and allergic reactions.
            </p>
            <a href="{% url 'poison_venom_allergy' %}" class="btn btn-danger">Start Module</a>
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
