{% extends "base.html" %}
{% load static %}
{% block title %}Poison, Venom, Allergies{% endblock %}

{% block content %}
<div class="container-fluid p-4">
  <h2 class="fw-bold">Poison, Venom, Allergies</h2>
  <div class="row">

    <!-- Poison -->
    <div class="col-md-4 mb-2">
      <div class="card">
        <img
          src="{% static 'images/poison.jpg' %}"
          class="card-img-top"
          alt="Poison"
          height="200"
          width="200"
        />
        <div class="card-body">
          <h5 class="card-title">Poison</h5>
          <p class="card-text">Learn how to diagnose and treat poisoned patients.</p>
          <a href="{% url 'poison_learning' %}" class="btn btn-danger">Learning</a>
          <a href="{% url 'poison_quiz' %}" class="btn btn-secondary">Revising</a>
        </div>
      </div>
    </div>

    <!-- Venom -->
    <div class="col-md-4 mb-2">
      <div class="card">
        <img
          src="{% static 'images/venom.jpg' %}"
          class="card-img-top"
          alt="Venom"
          height="200"
          width="200"
        />
        <div class="card-body">
          <h5 class="card-title">Venom</h5>
          <p class="card-text">Learn about venomous bites and its first aid.</p>
          <a href="{% url 'venom_learning' %}" class="btn btn-danger">Learning</a>
          <a href="{% url 'venom_quiz' %}" class="btn btn-secondary">Revising</a>
        </div>
      </div>
    </div>

    <!-- Allergy -->
    <div class="col-md-4 mb-2">
      <div class="card">
        <img
          src="{% static 'images/allergy.jpg' %}"
          class="card-img-top"
          alt="Allergy"
          height="200"
          width="200"
        />
        <div class="card-body">
          <h5 class="card-title">Allergy</h5>
          <p class="card-text">Learn about allergic reactions and its first aid.</p>
          <a href="{% url 'allergy_learning' %}" class="btn btn-danger">Learning</a>
          <a href="{% url 'allergy_quiz' %}" class="btn btn-secondary">Revising</a>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}
